<!-- Begin Index View -->
<div class="main-content">

  {{> nav }}


  {{!-- {{> promo }} --}}


  {{> about }}


  {{> tech }}


  {{> portfolio }}


  {{> app home="true" }}


  {{> security }}


  {{> stack }}


  {{> contact }}

</div>
<!-- End Index View -->
