      <!-- Begin About Me Section -->
      <div class="section-light about-me" id="about-me">
        <div class="container">
          <div class="about-me">
            <h1 class="title has-text-centered section-title">About Us</h1>
          </div>
          <div class="columns">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right"
              >
              <p class="is-larger" style="text-align: center">
                <strong> We create web systems. </strong>
              </p>
              <p style="margin: 2em 0">
                &emsp; We're a group of developers from Middleburg Hts, near
                Cleveland, Ohio who have recently left our jobs at big factory
                outfits and come together to build a small company where we
                work remotely from home saving us time and money that we
                pass directly on to you, the client.
              </p>
              <div class="is-divider"></div>
              <div class="columns is-multiline about-links">
                <div class="column has-text-centered">
                  <span class="heading">Give us a ring</span>
                  <span class="subheading is-family-monospace">
                    <a href="tel:216-666-0300">216-666-0300</a>
                  </span>
                </div>
                <div class="column has-text-centered">
                  <span class="heading">E-mail us</span>
                  <span class="subheading is-family-monospace">
                    <a href="mailto:admin@primesite.dev">admin@primesite.dev</a>
                  </span>
                </div>
                <div class="column has-text-centered">
                  <span class="heading">View our</span>
                  <span class="subheading is-family-monospace">
                    <a href="#my-work">portfolio</a>
                  </span>
                </div>
              </div>
            </div>
            <div class="column is-6 right-image" data-aos="fade-left">
              <img class="is-rounded" src="img/keyboard-mouse.jpg" alt="keyboard and mouse" />
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->




      <div class="section-dark resume">
        <div class="container">

          In order to celebrate the

        </div>
      </div>

