<!-- Begin AirChain -->
<div id="airchain" class="section-dark airchain">
  <div class="container">
    <div
      class="columns is-multiline"
      data-aos="fade-in"
      data-aos-easing="linear"
      >
      <div class="column is-12">
        <h2 class="title"> Installation </h2>
      </div>
      <div class="column is-12">
        <p>
          Currently the only way to get the full system working is to clone
          and install from the
          <a href="https://github.com/stav/crapp">GitHub repository</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End AirChain -->
