<div class="column is-12">
  <h1 class="title section-title has-text-centered has-text-white"> Financial App </h1>
  <h2 class="subtitle section-blurb has-text-centered has-text-white">
    AirChain Portfolio Navigator
  </h2>
</div>
