<!-- Begin App Content -->
<div class="section-dark my-work app" id="app">
  <div class="container">
    <div class="columns is-multiline" data-aos-easing="linear" data-aos="fade-in">
    {{> app.header}}

    {{> app.figures}}

    {{> app.footer}}
    </div>
  </div>
</div>

<div id="app-card" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title has-text-white"> AirChain Portfolio Navigator </p>
      <button onclick="closeModal('app-card')" class="delete" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div id="app-content" class="modal-content is-huge">

        <div class="card-image">
          <img id="appImage" src="" alt="App image" />
        </div>

      </div>
    </section>

    <footer class="modal-card-foot">
      <div class="full-grid columns is-vcentered">
        <div class="column is-8">
          <div id="appDescription" class="is-size-5 has-text-white"></div>
        </div>
        <div class="column is-4" style="text-align:right">
          <form onclick="closeModal('app-card')" method="GET">

            <button class="button is-info" type="submit"
              formaction="/airchain.html#airchain"
              >
              Install
            </button>

            <button class="button is-success" type="submit"
              formaction="#contact"
              onclick="focusContactName()"
              >
              Contact
            </button>

            <button type="button" class="button is-hidden-mobile">
              Close
            </button>
          </form>
        </div>
      </div>
    </footer>

  </div>
</div>
<!-- End App Content -->
