<div class="column is-3">
  <figure
    onclick="setAppModalImage('img/crapp-repos.png', this)"
    data-target="app-card"
    data-desc="Repository spreadsheet"
    class="image is-2by1 work-item modal-button"
    style="background-image: url('img/crapp-repos.png')"
  ></figure>
</div>
<div class="column is-3">
  <figure
    onclick="setAppModalImage('img/crapp-pie.png', this)"
    data-target="app-card"
    data-desc="Portfolio pie chart"
    class="image is-2by1 work-item modal-button"
    style="background-image: url('img/crapp-pie.png')"
  ></figure>
</div>
<div class="column is-3">
  <figure
    onclick="setAppModalImage('img/crapp-chart.png', this)"
    data-target="app-card"
    data-desc="TradingView candlestick chart"
    class="image is-2by1 work-item modal-button"
    style="background-image: url('img/crapp-chart.png')"
  ></figure>
</div>
<div class="column is-3">
  <figure
    onclick="setAppModalImage('img/crapp-minis.png', this)"
    data-target="app-card"
    data-desc="Portfolio performance overview"
    class="image is-2by1 work-item modal-button"
    style="background-image: url('img/crapp-minis.png')"
  ></figure>
</div>
