<!-- Begin Technology Content -->
<div class="section-dark app" id="app">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12 app" data-aos="fade-in" data-aos-easing="linear">
        <h1 class="title has-text-centered section-title"> Blockchain App </h1>
        <h2 class="subtitle section-blurb has-text-centered">
          CrApp - The Cryptocurrency Application
        </h2>
      </div>

      <div class="columns is-12">
        <div class="app column is-3 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <p><img src="img/crapp-repos.png"></p>
        </div>
        <div class="app column is-3 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <p><img src="img/crapp-pie.png"></p>
        </div>
        <div class="app column is-3 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <p><img src="img/crapp-chart.png"></p>
        </div>
        <div class="app column is-3 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <p><img src="img/crapp-minis.png"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Technology Content -->
