<!-- Begin Main Content -->
<div class="main-content">

  {{> nav }}


  {{!-- {{> promo }} --}}


  {{> about }}


  {{> tech }}


  {{> portfolio }}


  {{> security }}


  {{> stack }}


  {{> contact }}

</div>
<!-- End Main Content -->
