<!-- Begin Contact Content -->
<div class="section-light contact" id="contact">
  <div class="container">
    <div class="columns is-multiline" data-aos="fade-in-up" data-aos-easing="linear">
      <div class="column is-12 contact">
        <h1 class="title has-text-centered section-title"> Get in touch </h1>
        <h2 class="has-text-centered">
          Phone: <a href="tel:216-666-0300">216-666-0300</a> &emsp;
          E-mail: <a href="mailto:info@primesite.dev">info@primesite.dev</a>
        </h2>
        <h2 class="subtitle section-blurb has-text-centered">
          Submit your message and contact information and we'll get right back to you.
        </h2>
      </div>
      <div class="column is-8 is-offset-2">
        <form action="https://formspree.io/info@primesite.dev" method="POST">
          <div class="field">
            <label class="label">Name</label>
            <div class="control has-icons-left">
              <input name="Name" type="text" class="input" placeholder="Ex. Jane Smith" />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
              <input name="Email" type="email" class="input" placeholder="Ex. hello@arctheme.com" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea name="Message" class="textarea" placeholder="Tell us a little about what you're looking for"></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button submit-button">
                Submit&nbsp;&nbsp;
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Contact Content -->
