      <!-- 3dFlipVertical card -->
      <div id="modal-card" class="modal modal-fx-3dSlit">
          <div class="modal-background"></div>
          <div class="modal-content">
              <!-- content -->
              <div class="card">
                  <div class="card-image">
                    <figure class="image is-9by6">
                        <img id="profileImage" src="img/office-workers.jpg" alt="Profile image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <p>If you would like to hire us to make your website, give us a ring!</p>
                      <p>216-666-0300</p>
                      <p>steven.almeroth@gmail.com</p>
                      <a href="http://primesite.centerstar.org/">http://primesite.centerstar.org</a>
                    </div>
                  </div>
              </div>
              <!-- end content -->
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
      </div>
