<!-- Begin Footer -->
<footer class="footer columns is-vcentered">
  <div class="column has-vertically-aligned-content">

    <a href="http://primesite.dev/">
      <img class="logo" src="img/logo-white.svg" alt="logo">
    </a>
    <h2 class="subtitle">Quality. Speed. Price.</h2>
    <a href="http://primesite.dev/">
      <h2 class="title"> Prime Site </h2>
    </a>
    <h2 class="subtitle profession">Web Systems That Matter</h2>

    <p class="has-text-weight-light">
      Logo design credit:
      <a target="_blank"
        href="https://smartlogos.co/post/146961956777/sp-logo-design"
        >smartlogos.co</a>
    </p>

    <p class="has-text-weight-light">
      Image credit:
      <a target="_blank"
        href="https://picsum.photos/id/381/1920/1080"
        title="mountain scape"
        >picsum.photos</a>
    </p>

    <p class="has-text-weight-light">
      Image credit:
      <a target="_blank"
        href="https://picsum.photos/id/366/600/375"
        title="keyboard and mouse"
        >picsum.photos</a>
    </p>

  </div>
</footer>
<!-- End Footer -->

<!-- Scripts -->
<script src="dom.js"></script>
<script src="menu.js"></script>
<script src="promo.js"></script>
<script src="scroll.js"></script>
<script src="portfolio.js"></script>
<script src="lib/modal-fx.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script> AOS.init({ easing: "ease-out", duration: 800 }); </script>
