<!-- Begin Footer -->
<footer class="footer columns is-vcentered">
  <div class="column has-vertically-aligned-content">

    <a href="http://primesite.dev/">
      <img class="logo" src="img/logo-white.svg" alt="logo">
    </a>
    <h2 class="subtitle">Quality. Speed. Price.</h2>
    <a href="http://primesite.dev/">
      <h2 class="title"> Prime Site </h2>
    </a>
    <h2 class="subtitle profession">Web Systems That Matter</h2>

    <p class="has-text-weight-light">
      Logo design credit:
      <a target="_blank"
        href="https://smartlogos.co/post/146961956777/sp-logo-design"
        >smartlogos.co</a>
    </p>

    <p class="has-text-weight-light">
      Image credit:
      <a target="_blank"
        href="https://picsum.photos/id/381/1920/1080"
        title="mountain scape"
        >picsum.photos</a>
    </p>

    <p class="has-text-weight-light">
      Image credit:
      <a target="_blank"
        href="https://picsum.photos/id/366/600/375"
        title="keyboard and mouse"
        >picsum.photos</a>
    </p>

  </div>
</footer>
<!-- End Footer -->
