<!-- Begin Header -->
<!-- Begin Scroll Up Button -->
<form action="#home">
  <button id="toTop" title="Go to top" onclick="closeAllModals()">
    <i class="fas fa-angle-up"></i>
  </button>
</form>
<!-- End Scroll Up Button -->

<div class="header-wrapper" id="home">
  <!-- Begin Hero -->
  <section class="hero">

    <!-- Begin Hero Content-->
    <div class="hero-body">
      <div class="container">

        <a href="http://primesite.dev/" class="hero-nav is-inline-flex">
          <h2 class="title"> Prime Site </h2>
        </a>

        <div class="hero-nav is-inline-flex is-pulled-right">
          <a class="button modal-button is-info is-inverted" data-target="login-card">
            <span class="button-logo icon">
              <img src="img/logo-black.svg" alt="logo">
            </span>
            <span class="button-login"> Login </span>
          </a>
        </div>

        <h2 class="subtitle profession"> Web Systems That Matter </h2>
      </div>
    </div>
    <!-- End Hero Content-->

  </section>
  <!-- End Hero -->
</div>

{{> login }}
<!-- End Header -->
