<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Prime Site</title>

  <meta property="og:description" content="Web systems development main website">
  <meta property="og:image:height" content="305">
  <meta property="og:image:width" content="305">
  <meta property="og:image" content="logo.png">
  <meta property="og:title" content="Prime Site">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://primesite.dev/">

  <link rel="stylesheet" type="text/css" href="lib/_all.css" />
  <link rel="stylesheet" type="text/css" href="primesite.css" />
  <link rel="stylesheet" type="text/css" href="fontawesome/css/solid.css">
  <link rel="stylesheet" type="text/css" href="fontawesome/css/brands.css">
  <link rel="stylesheet" type="text/css" href="fontawesome/css/fontawesome.css">
  <link rel="icon" type="image/png" href="img/favicon64.png" sizes="64x64">
  <link rel="icon" type="image/png" href="img/favicon32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicon16.png" sizes="16x16">
</head>
