<!-- Begin Header -->
<div class="header-wrapper" id="home">
  <!-- Begin Hero -->
  <section class="hero">

    <div class="hero-head">
      <a href="http://primesite.dev/" class="hero-nav is-inline-flex">
        <h2 class="title"> Prime Site </h2>
      </a>
      <div class="hero-nav is-inline-flex is-pulled-right">
        <a class="button is-info is-inverted">
          <span class="button-logo icon">
            <img src="img/logo-black.svg" alt="logo">
          </span>
          <span class="button-login">Login</span>
        </a>
      </div>
    </div>

    <!-- Begin Hero Content-->
    <div class="hero-body">
      <div class="container">
        <h1 class="subtitle">Quality. Speed. Price.</h1>
        <h1 class="subtitle profession">Web Systems That Matter</h1>
      </div>
    </div>
    <!-- End Hero Content-->

  </section>
  <!-- End Hero -->
</div>
<!-- End Header -->
