<!-- Begin Main Navigation -->
<nav id="main-nav">

  <!-- Begin Mobile Nav -->
  <nav class="navbar is-transparent is-hidden-tablet">
    <div class="navbar-brand columns">
      <div id="mobile-burger" class="navbar-burger column is-12" data-target="mobile-nav">
        <a class="burger is-pulled-right">
          <i class="fas fa-bars hamburger"></i>
        </a>
      </div>
    </div>
    <div id="mobile-nav" class="navbar-menu">
      <div class="navbar-end has-text-centered">
        <a class="navbar-item" href="#home" title="Home">
          <i class="fas fa-home"></i>
        </a>
        <a class="navbar-item" href="#about-me">   About     </a>
        <a class="navbar-item" href="#technology"> Services  </a>
        <a class="navbar-item" href="#my-work">    PortFolio </a>
        <a class="navbar-item" href="#app">        App       </a>
        <a class="navbar-item" href="#stack">      Stack     </a>
        <a class="navbar-item" href="#contact" onclick="focusContactName()"> Contact </a>
      </div>
    </div>
  </nav>
  <!-- End Mobile Nav -->

  <div class="main-nav columns is-hidden-mobile">
    <div class="column is-12 hero-menu-desktop has-text-centered">
      <ul>
        <li>
          <a href="#home" title="Home">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li><a href="#about-me">   About     </a></li>
        <li><a href="#technology"> Services  </a></li>
        <li><a href="#my-work">    PortFolio </a></li>
        <li><a href="#app">        App       </a></li>
        <li><a href="#stack">      Stack     </a></li>
        <li><a href="#contact" onclick="focusContactName()"> Contact </a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Main Navigation -->
