<!-- Begin Portfolio Content -->
<div class="section-dark my-work" id="my-work">
  <div class="container">
    <div class="columns is-multiline" data-aos-easing="linear" data-aos="fade-in">
      <div class="column is-12">
        <h1 class="title has-text-centered section-title"> PortFolio </h1>
        <h2 class="subtitle section-blurb has-text-centered">
          Just a few of the projects we have worked on recently.
        </h2>
      </div>
      <div class="column is-3">
        <figure
          onclick="setModalImage('img/project-01_1082x5333.jpg')"
          data-target="portfolio-card"
          class="image is-2by1 work-item modal-button"
          style="background-image: url('img/project-01_320x180.jpg')"
        ></figure>
      </div>
      <div class="column is-3">
        <figure
          onclick="setModalImage('img/project-02_1186x4493.jpg')"
          data-target="portfolio-card"
          class="image is-2by1 work-item modal-button"
          style="background-image: url('img/project-02_320x180.jpg')"
        ></figure>
      </div>
      <div class="column is-3">
        <figure
          onclick="setModalImage('img/project-03_1216x6740.jpg')"
          data-target="portfolio-card"
          class="image is-2by1 work-item modal-button"
          style="background-image: url('img/project-03_320x180.jpg')"
        ></figure>
      </div>
      <div class="column is-3">
        <figure
          onclick="setModalImage('img/project-04_563x2143.jpg')"
          data-target="portfolio-card"
          class="image is-2by1 work-item modal-button"
          style="background-image: url('img/project-04_320x180.jpg')"
        ></figure>
      </div>
    </div>
  </div>
</div>

<div id="portfolio-card" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title"> Prime Site Portfolio Project </p>
      <button onclick="closePortfolio()" class="delete" aria-label="close"></button>
    </header>

    <section class="portfolio modal-card-body">
      <div id="portfolio-content" class="content">

        <div class="card-image">
          <img id="profileImage" src="" alt="Profile image">
        </div>

      </div>
    </section>

    <footer class="modal-card-foot">
      <form onclick="closePortfolio()">

        <button class="button is-success"
          type="submit"
          formmethod="get"
          formaction="#contact"
          onclick="focusContactName()"
          >
          Contact
        </button>

        <button type="button" class="button is-hidden-mobile">
          Close
        </button>

      </form>
    </footer>

  </div>
</div>
<!-- End Portfolio Content -->
