<!-- Begin Portfolio Content -->
<div class="section-dark my-work" id="my-work">
  <div class="container">
    <div class="columns is-multiline" data-aos-easing="linear" data-aos="fade-in">
      <div class="column is-12">
        <h1 class="title has-text-centered section-title"> PortFolio </h1>
        <h2 class="subtitle section-blurb has-text-centered">
          Just a few of the projects we have worked on over the last few years.
        </h2>
      </div>
      <div class="column is-3">
        <figure
          onclick="setModalImage('img/project-01_1059x596.jpg', 'img/project-01_1082x5333.jpg')"
          data-target="portfolio-card"
          class="image is-2by1 work-item modal-button"
          style="background-image: url('img/project-01_320x180.jpg')"
        ></figure>
      </div>
      <div class="column is-3">
        <figure
          onclick="setModalImage('img/project-02_1146x552.jpg', 'img/project-02_1186x4493.jpg')"
          data-target="portfolio-card"
          class="image is-2by1 work-item modal-button"
          style="background-image: url('img/project-02_320x180.jpg')"
        ></figure>
      </div>
      <div class="column is-3">
        <figure
          onclick="setModalImage('img/project-03_1176x548.jpg', 'img/project-03_1216x6740.jpg')"
          data-target="portfolio-card"
          class="image is-2by1 work-item modal-button"
          style="background-image: url('img/project-03_320x180.jpg')"
        ></figure>
      </div>
      <div class="column is-3">
        <figure
          onclick="setModalImage('img/project-04_563x381.jpg', 'img/project-04_563x2143.jpg')"
          data-target="portfolio-card"
          class="image is-2by1 work-item modal-button"
          style="background-image: url('img/project-04_320x180.jpg')"
        ></figure>
      </div>
    </div>
  </div>
</div>

<!-- 3dFlipVertical card -->
<div id="portfolio-card" class="modal modal-fx-3dSlit">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- content -->
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img id="profileImage" src="" alt="Profile image" title="Click to toggle information">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          Click the image above to toggle between the long and short versions.
        </div>
      </div>
    </div>
    <!-- end content -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- End Portfolio Content -->
