    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <div class="lds-ripple"><div></div><div></div></div>
      </div>
    </div>
    <!-- End Preloader-->

    <!-- Begin Scroll Up Button -->
    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->
