<!-- Begin Promotion Section -->
<div class="section-light promo" id="promo">
  <div class="container">
    <div class="columns">
      <div class="column image" data-aos="fade-right">
        <a class="modal-button" data-target="promo-card">
          <img class="is-tv has-text-centered" src="img/primesite-sale-transp.png" alt="promotion" />
        </a>
      </div>
    </div>
  </div>
</div>

<!-- 3dFlipVertical card -->
<div id="promo-card" class="modal modal-fx-3dSlit">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- content -->
    <div class="card">
      <div class="card-content">

        <figure class="avatar">
          <img src="img/primesite-sale-transp.png" alt="promotion" />
        </figure>

        <div class="container has-text-centered">
          <div class="column">
            <h3 class="title has-text-black">Promotion</h3>
            <div class="box">

              Yes!

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end content -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- End Promotion Section -->
