<!-- Begin Promotion Section -->
<div class="section-light promo" id="promo">
  <div class="container">
    <div class="columns">
      <div class="column image" data-aos="fade-right">
        <a class="modal-button" data-target="promo-card">
          <img class="is-tv has-text-centered" src="img/primesite-sale-transp.png" alt="promotion" />
        </a>
      </div>
    </div>
  </div>
</div>

<div id="promo-card" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title"> Spring Into Savings </p>
      <button onclick="closePromo()" class="delete" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="content">

        <div class="card-image">
          <figure>
            <img src="img/primesite-sale-transp.png" alt="promotion" />
          </figure>
        </div>

        <p>
          <span class="prime-site">Prime Site</span> is a new company and we are
          excited about attracting clients. In order to celebrate our inauguration
          we are offering deep discounts for all projects started this spring 2020.
        </p>

        <p>
          Our experience in working for &quot;<em>Large-market</em> class&quot;
          software development companies averaged around <samp>$225/hr</samp>.

          We are now a &quot;<em>Small-market</em> class&quot;
          software development company and charge less than <samp>$150/hr</samp>
          on average.
        </p>

        <p>
          For the month of April we are offering an attractive <samp>90%</samp>
          discount on all projects. In May we continue the savings with
          <samp>75%</samp> and finally half off in June.
        </p>

        <p>
          <a href="#contact" onclick="contactPromo()">Contact</a> us now to
          get started.
        </p>

      </div>
    </section>

    <footer class="modal-card-foot">
      <form onclick="closePromo()">
        <button formmethod="get" formaction="#contact" onclick="focusContactName()" class="button is-success" type="submit">
          Contact
        </button>
        <button type="button" class="button">Cancel</button>
      </form>
    </footer>

  </div>
</div>
<!-- End Promotion Section -->
