<!-- Begin HIPAA Security -->
<div class="section-dark resume">
  <div class="container">
    <div
      class="columns is-multiline"
      data-aos="fade-in"
      data-aos-easing="linear"
      >
      <div class="column is-12 resume">
        <h1 class="title has-text-centered section-title">
          HIPAA Security and Compliance
        </h1>
      </div>
      <div class="column is-10 has-text-centered is-offset-1">
        <h2 class="subtitle">
          Download the white paper on securing the backend services that
          our hosting servers run on.
        </h2>
        <a
          href="lib/AWS_HIPAA_Compliance_Whitepaper.pdf"
          download="AWS_HIPAA_Compliance_Whitepaper.pdf"
          >
          <button class="button">
            Download White-paper&emsp;<i class="fad fa-download fa-lg"></i>
          </button>
        </a>
        <p>Source: <a href="https://d1.awsstatic.com/whitepapers/compliance/AWS_HIPAA_Compliance_Whitepaper.pdf?did=wp_card&trk=wp_card">aws.amazon.com</a></p>
      </div>
    </div>
  </div>
</div>
<!-- End HIPAA Security -->
