<!-- Begin Stack Content -->
<div class="section-dark stack" id="stack">
  <div class="container">
    <div class="columns is-multiline" data-aos-easing="linear" data-aos="fade-in">
      <div class="column is-12" data-aos="fade-in" data-aos-easing="linear">
        <h1 class="title has-text-centered section-title">Stack</h1>
      </div>
      <span class="stack-icon" title="Aws"><i class="fab fa-aws fa-2x"></i></span>
      <span class="stack-icon" title="Amazon"><i class="fab fa-amazon fa-2x"></i></span>
      <span class="stack-icon" title="Atlassian"><i class="fab fa-atlassian fa-2x"></i></span>
      <span class="stack-icon" title="Digital-ocean"><i class="fab fa-digital-ocean fa-2x"></i></span>
      <span class="stack-icon" title="Google"><i class="fab fa-google fa-2x"></i></span>
      <span class="stack-icon" title="Linode"><i class="fab fa-linode fa-2x"></i></span>

      <span class="stack-icon" title="Android"><i class="fab fa-android fa-2x"></i></span>
      <span class="stack-icon" title="Chrome"><i class="fab fa-chrome fa-2x"></i></span>
      <span class="stack-icon" title="Firefox"><i class="fab fa-firefox fa-2x"></i></span>

      <span class="stack-icon" title="Font awesome"><i class="fab fa-font-awesome fa-2x"></i></span>
      <span class="stack-icon" title="Bootstrap"><i class="fab fa-bootstrap fa-2x"></i></span>
      <span class="stack-icon" title="Angular"><i class="fab fa-angular fa-2x"></i></span>
      <span class="stack-icon" title="React"><i class="fab fa-react fa-2x"></i></span>
      <span class="stack-icon" title="Vuejs"><i class="fab fa-vuejs fa-2x"></i></span>

      <span class="stack-icon" title="Bitbucket"><i class="fab fa-bitbucket fa-2x"></i></span>

      <span class="stack-icon" title="Linux"><i class="fab fa-linux fa-2x"></i></span>
      <span class="stack-icon" title="Fedora"><i class="fab fa-fedora fa-2x"></i></span>
      <span class="stack-icon" title="Centos"><i class="fab fa-centos fa-2x"></i></span>
      <span class="stack-icon" title="Freebsd"><i class="fab fa-freebsd fa-2x"></i></span>
      <span class="stack-icon" title="Ubuntu"><i class="fab fa-ubuntu fa-2x"></i></span>
      <span class="stack-icon" title="Suse"><i class="fab fa-suse fa-2x"></i></span>
      <span class="stack-icon" title="Redhat"><i class="fab fa-redhat fa-2x"></i></span>

      <span class="stack-icon" title="Cloudsmith"><i class="fab fa-cloudsmith fa-2x"></i></span>
      <span class="stack-icon" title="Codepen"><i class="fab fa-codepen fa-2x"></i></span>

      <span class="stack-icon" title="Css3"><i class="fab fa-css3-alt fa-2x"></i></span>
      <span class="stack-icon" title="Html5"><i class="fab fa-html5 fa-2x"></i></span>
      <span class="stack-icon" title="Markdown"><i class="fab fa-markdown fa-2x"></i></span>
      <span class="stack-icon" title="Sass"><i class="fab fa-sass fa-2x"></i></span>

      <span class="stack-icon" title="Docker"><i class="fab fa-docker fa-2x"></i></span>
      <span class="stack-icon" title="Postgres"><i class="fab fa-evernote fa-2x"></i></span>

      <span class="stack-icon" title="Git"><i class="fab fa-git-alt fa-2x"></i></span>
      <span class="stack-icon" title="Github"><i class="fab fa-github-alt fa-2x"></i></span>
      <span class="stack-icon" title="Gitlab"><i class="fab fa-gitlab fa-2x"></i></span>


      <span class="stack-icon" title="JavaScript"><i class="fab fa-js fa-2x"></i></span>
      <span class="stack-icon" title="Node-js"><i class="fab fa-node-js fa-2x"></i></span>
      <span class="stack-icon" title="Npm"><i class="fab fa-npm fa-2x"></i></span>
      <span class="stack-icon" title="Python"><i class="fab fa-python fa-2x"></i></span>

      <span class="stack-icon" title="Pied piper"><i class="fab fa-pied-piper-pp fa-2x"></i></span>

      <span class="stack-icon" title="Stackpath"><i class="fab fa-stackpath fa-2x"></i></span>

      <span class="stack-icon" title="Webpack"><i class="fas fa-cube fa-2x"></i></span>
      <span class="stack-icon" title="Yarn"><i class="fab fa-yarn fa-2x"></i></span>
      <!--
      <span class="stack-icon" title="Bulma" style="padding-top: 16px">
        <svg class="svg-inline--fa fa-w-16 fa-4x" aria-hidden="true" focusable="false" d role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 320" width="480.000000pt" height="480.000000pt" preserveAspectRatio="xMidYMid meet">
          <metadata> Created by potrace 1.11, written by Peter Selinger 2001-2013 </metadata>
            <g transform="translate(0.000000,480.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path fill="currentColor" d="M1756 4200 l-598 -598 -58 -408 c-32 -225 -61 -427 -64 -449 -3 -22 -12 -85 -20 -140 -8 -55 -17 -118 -20 -140 -3 -22 -13 -89 -21 -150 -9 -60 -18 -123 -20 -140 -3 -16 -23 -156 -45 -310 -21 -154 -42 -300 -45 -325 l-5 -45 749 -748 c523 -522 754 -746 763 -741 7 4 413 275 902 601 l890 593 -595 594 c-327 327 -594 600 -594 606 0 6 200 211 444 456 l445 444 -740 740 c-406 407 -746 745 -754 750 -12 7 -147 -122 -614 -590z"/>
          </g>
        </svg>
      </span>
      -->
    </div>
  </div>
</div>
<!-- End Stack Content -->
