<!-- Begin Technology Content -->
<div class="section-color technology" id="technology">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12 technology" data-aos="fade-in" data-aos-easing="linear">
        <h1 class="title has-text-centered section-title"> Services </h1>
        <h2 class="subtitle section-blurb has-text-centered">
          If you need data <u>to</u> or <u>from</u> the web,
          we've got many ways to deliver.
        </h2>
      </div>

      <div class="columns is-12">
        <div class="technology column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <i class="fas fa-rocket fa-2x"></i>
          <p class="technology-title"> Progressive Web Apps </p>
          <hr>
          <p class="blurb has-text-left">
            Say goodbye to apps.
            Thanks to the new background process architecture, the browser can
            now be both safer and faster than native apps on your phone. This
            means we don't need Google Play Store or Apple App Store any more,
            and of course, these new processes work on the desktop too since
            we're just using the web browser after all.
          </p>
        </div>

        <div class="technology column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <i class="fas fa-mobile-alt fa-2x"></i>
          <p class="technology-title"> Responsive Design </p>
          <hr>
          <p class="blurb has-text-left">
            Responsive mobile-first layout is a smart style commitment not only
            because it is the fastest growing user agent market; but the limited
            space on a smaller view-ports makes the screen real estate increasingly
            valuable which means the interface has to be carefully though-out and;
            therefore, better by design.
          </p>
        </div>

        <div class="technology column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <i class="fas fa-file-invoice fa-2x"></i>
          <p class="technology-title"> Single Page Applications </p>
          <hr>
          <p class="blurb has-text-left">
            Unleash the power of offline.
            SPA's send everything to your browser in a single payload
            making user interaction lightning fast. Combined with Progressive
            Web technology you can even allow users to create database
            transactions while offline and have them committed later when
            the user attaches to the network.
          </p>
        </div>
      </div>

      <div class="columns is-12">
        <div class="technology column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <i class="fas fa-spider fa-2x"></i>
          <p class="technology-title"> Data Mining </p>
          <hr>
          <p class="blurb has-text-left">
            Spiders bring back the goods.
            Whether you want to gather product information from all
            competitor websites or crawl the "entire" world wide web
            to have your own index similar to Google's or maybe you
            just want search engine results every day for mention of
            your name, we've got the tooling and infrastructure to get
            your bots out, crawling and bringing back the data.
          </p>
        </div>

        <div class="technology column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <i class="fas fa-layer-group fa-2x"></i>
          <p class="technology-title"> Interactive Bots </p>
          <hr>
          <p class="blurb has-text-left">
            Bots are not just for checking Amazon prices anymore.
            Why use Amazon's website when you could use an interface that
            you actually love? And it would be great if you could use this
            same interface for every website. Well, we simply write a
            "middle-man" proxy bot that interactively deals with websites
            and displays the information for you in a common customized
            format.
          </p>
        </div>

        <div class="technology column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
          <i class="fas fa-server fa-2x"></i>
          <p class="technology-title"> Hosting </p>
          <hr>
          <p class="blurb has-text-left">
            Everything we create can be served up seamlessly from our
            trusted servers, currently on Amazon AWS. The benefits include:
            automatic resource scaling, incredibly high up-times and fast
            response times due to configurable regional data-center locations
            residing on the same network as the application.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Technology Content -->
