/* Make relative link scroll smoothly */
html {
  scroll-behavior: smooth
}

/* Horizontal rules */
hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Make modal buttons look like they're clickable */
figure.modal-button {
  cursor: pointer;
}

/* Hero */
.hero-body {
  padding: 2rem;
}

/* Footer */
footer {
  display: flex;
}
footer .subtitle {
  color: whitesmoke;
  font-size: 2rem;
}

/* About */
.about-me .blurb::first-letter {
  line-height: normal;
  font-weight: bold;
  font-size: 1.5em;
}
.about-me .blurb {
  line-height: 2;
  margin: 2em 0;
}

/* Technology style */
.technology-title {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: lighter;
}
.technology .blurb::first-line {
  font-family: monospace;
}

/* Stack style */
.main-content .section-dark.stack {
  padding: 77px;
  background-color: #43485c;
  color: white;
}
.main-content .section-dark.stack .title,
.main-content .section-dark.stack .subtitle {
  color: white;
}
.main-content .section-dark.stack i {
  font-size: 3rem;
  padding: 20px;
}
.main-content .section-dark.stack .stack-icon {
  padding: 20px 20px;
}

/* Logo */
.logo {
  height: 100px;
  margin-bottom: 2em;
}
.button-logo {
  opacity: 0.6;
  padding: 2px;
}

/* Login */
.button-login {
  font-weight: bold;
  padding-left: 4px;
  color: rgb(74, 74, 74);
}
.login.card {
  background-color: unset;
}

/* Navigation */
.navbar-burger {
  color: inherit;
}
#mobile-burger .burger {
  padding-right: inherit;
}
#mobile-burger.is-active .hamburger {
  transform: rotate(90deg);
}
#main-nav {
  background-color: rgba(256, 256, 256, 0.9);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
  position: -webkit-sticky;
  position: sticky;
  height: 50px;
  z-index: 9;
  top: 0;
}
#main-nav ul {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
}
#main-nav ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
#main-nav ul li:hover {
  background-color: white;
}
#main-nav ul li a {
  color: #1f2c6c;
  position: relative;
  line-height: 2em;
  padding: 0.5em 0;
  top: -2px;
}
#main-nav ul li a:hover {
  border-bottom: 1px solid red;
}
#main-nav ul li.is-active a {
  border-bottom: 2px solid #1f2c6c;
}
.main-nav {
  margin-top: 0;
}

/* Portfolio */
#my-work {
  background-color: white;
}
.modal-card-body {
  padding: 0;
}

/* App */
.main-content .section-dark.app {
  background-color: #43485c;
  padding: 77px;
  color: white;
}
#app-card .modal-card {
  width: 1240px;
  max-width: 100%;
}
#app-card .modal-card-head, .modal-card-foot {
  background-color: #1f2c6c;
}
#app-content {
  margin: 0;
}
.full-grid.columns {
  width: 100%;
}

/* Login */
#login-error {
  padding-bottom: 1em;
}
#login-card input[type="checkbox"] {
  vertical-align: text-top;
}

/* Discounts */
.discounts {
  margin-left: 3em;
  margin-top: 2em;
}

/* Title */
.title:not(:last-child) {
  margin-bottom: 0;
}

/* Sections */
.section-blurb {
  padding-top: 1em;
  padding-bottom: 2em;
  font-style: oblique;
}

/* Promo */
.prime-site {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
}
